/* google font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: beige;
}

h1 {
    font-size: 40px;
}

/* main styles */
main {
    margin: 25px 60px 25px 60px;
}

/* header styles */
header {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(22, 21, 21);
    margin-bottom: 20px;
    color: white;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.link-button {
    padding: 5px 30px;
    background-color: rgb(206, 39, 39);
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.fa-angle-right .filled {
    color: rgb(71, 63, 63);
    font-size: 20px;

}

.transfer-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 20px; */
    justify-content: center;

}

.single-player-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    /* padding: 20px; */
    width: 70%;
    align-items: center;
}

.player {
    margin-top: 20px;
    border-radius: 14px;
    border: 2px solid;
}

.players img {
    width: 80%;
}

/* 3 button link style*/
.button-shape {
    text-decoration: none;
    text-align: center;

    background-color: white;

    border-radius: 5px;
    font-weight: 700;
    padding: 5px 20px;
}

.shape1 {
    text-decoration: none;
    color: black;
    background-color: white;
}

.shape2 {
    text-decoration: none;
    color: black;
}

#shape3 {
    text-decoration: none;
    background-color: red;
    color: black;
}

.half-width-Tsection-player {
    width: 70%;

}

.button-block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 210px;
    height: 180px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(20, 19, 19);
    /* border-color: black; */
    color: white;
    justify-content: center;
    align-items: center;
}

.transfer-shape {
    border: 1px solid;
    color: black;
    margin: 10px 10px 10px 10px;
}

/* icon area */
.icon-area {
    padding-left: 15px;
    padding-right: 20px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}